 
</div>
<div class="main">

<p>Make <strong>better posters</strong> with RMarkdown + <strong>posterdown</strong></p>

 <div class="row">
  <div>
    <img src="https://raw.githubusercontent.com/brentthorne/posterdown/master/images/betterhexlogo.png" style="float: left; width: 30%; margin-left: 5%; margin-bottom: 0.5em;">
  </div>
  <div>
    <img src="/home/srearl/Desktop/CAPLTERlogo-2012-poster.jpg" style="float: right; width: 30%; margin-right: 5%; margin-bottom: 0.5em; margin-top: 5em;">
  </div>
</div> 

<img src="https://raw.githubusercontent.com/brentthorne/posterdown/master/images/qr-code-black.png" class="main-img-left" />
<img src="https://raw.githubusercontent.com/brentthorne/posterdown/master/images/betterhexlogo.png" class="main-img-right" />
</div>
</div>
